[submodule "bridge"]
	path = bridge
	url = https://github.com/anoshmisiosdev/wineopenxr.git
[submodule "dxmt"]
	path = dxmt
	url = https://github.com/3Shain/dxmt.git
	branch = main
[submodule "test/OpenXRSamples"]
	path = test/OpenXRSamples
	url = https://github.com/anoshmisiosdev/OpenXRSamples.git
[submodule "oxrsys-src"]
	path = oxrsys-src
	url = https://github.com/anoshmisiosdev/oxrsys.git
	branch = feat/headset-audio
[submodule "oxrsys-src-jitter"]
	path = oxrsys-src-jitter
	url = https://github.com/anoshmisiosdev/oxrsys.git
	branch = fix/ffe-coherent-at-scale
[submodule "opencomposite"]
	path = opencomposite
	url = https://github.com/anoshmisiosdev/OpenComposite.git
	branch = merged-fixes
