[submodule "bridge"]
	path = bridge
	url = https://github.com/anoshmisiosdev/wineopenxr.git
[submodule "dxmt"]
	path = dxmt
	url = https://github.com/monofunc/dxmt
	branch = feature/openxr
[submodule "test/OpenXRSamples"]
	path = test/OpenXRSamples
	url = https://github.com/anoshmisiosdev/OpenXRSamples.git
