[submodule "bridge"]
	path = bridge
	url = https://github.com/anoshmisiosdev/wineopenxr.git
[submodule "dxmt"]
	path = dxmt
	url = https://github.com/monofunc/dxmt
	branch = feature/openxr
[submodule "test/OpenXRSamples"]
	path = test/OpenXRSamples
	url = https://github.com/anoshmisiosdev/OpenXRSamples.git
[submodule "oxrsys-src"]
	path = oxrsys-src
	url = https://github.com/anoshmisiosdev/oxrsys.git
	branch = fix/tracking-reconnect-loop
[submodule "oxrsys-src-jitter"]
	path = oxrsys-src-jitter
	url = https://github.com/anoshmisiosdev/oxrsys.git
	branch = fix/ffe-coherent-at-scale
